<div class="footer">
  <h3 class="sparkle-text">Stay Connected</h3>

  <div class="social-links">
    <a href="https://www.facebook.com/ek.sathi.71/">📘 Facebook</a>
    <a href="https://www.linkedin.com/in/eksathi/">💼 LinkedIn</a>
    <a href="https://www.instagram.com/eksathi21/">📷 Instagram</a>
  </div>

  <!-- <div class="diwali-decoration">🎆 🪔 🎇</div> -->

  <p class="footer-text">
    Need help? Contact us at
    <a href="mailto:support@eksathi.com">support@eksathi.com</a>
  </p>

  <p class="footer-copyright">
    © <%= new Date().getFullYear() %> Eksathi. All rights reserved.<br />
    This email was sent to <span class="sparkle-text" style="color: #ffd700; font-weight: bold;"><%= email %></span>
  </p>
</div>